* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.display-none {
  display: none;
}

/* styling header */

header {
  height: 80px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #003bfc;
  z-index: 1;

  /* background: radial-gradient(rgb(48, 190, 247), #2cff9d); */
  /* margin-bottom: 10px; */
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  /* font-family: "Fugaz One", cursive; */
  letter-spacing: 3px;
  color: white;
}
.logo img {
  height: 71px;
  width: 73px;
  margin-bottom: 10px;
  filter: invert(100%);
}
.nav-bar .nav-items {
  display: flex;
  position: relative;
  top: 3px;
  left: 55px;
}
.nav-bar .nav-items li {
  list-style-type: none;
  margin: 9px;
  font-size: 19px;
}
.nav-bar .nav-items li a {
  text-decoration: none;
  color: white;
  /* font-family: "Roboto", sans-serif; */
  /* transition: 0.3s ease; */
}
.nav-bar .nav-items li a:hover {
  text-decoration: underline;
}
.search {
  display: flex;
  height: 36px;
  width: 299px;
  border-radius: 11px;
  /* border: 2px solid black; */
}
.search .search-items {
  flex: 1;
  border-radius: 11px;
  border: none;
  font-size: 15px;
  padding: 5px;
}

/* styling homepage */
.intro-page {
  margin: auto;
  /* margin-top: 10px; */
  /* background-color: #dcdcdc; */
  display: flex;
  /* border: 2px solid black; */
  position: relative;
  height: 450px;
  width: 90vw;
  top: 94px;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}
.intro-page img {
  height: 400px;
  width: 575px;
  border-radius: 20px;
}
.intro-page .intro-left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 50%;
}
.intro-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 50%;
}
.intro-text {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  line-height: 60px;
  text-align: left;
  letter-spacing: 1px;
  /* font-style: italic; */
  /* font-family: "Lobster", cursive; */
}
.intro-right-section p {
  /* font-family: "Roboto", sans-serif; */
  letter-spacing: 1px;
  font-size: 16px;
  color: black;
}

/* explore-section */
.explore {
  width: 90vw;
  margin: auto;
  position: relative;
  top: 105px;
  /* z-index: 1; */
}
.explore h1 {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.explore .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.explore .col {
  position: relative;
}
.explore .row .col img {
  /* border: 2px solid black; */
  height: 280px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 3;
  /* box-shadow: 2px 2px 2px 2px #f0ebeb; */
}
.explore .row .col .product-name {
  /* display: none; */
  position: absolute;
  top: 0px;
  height: 280px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: transparent;
  cursor: pointer;
  font-weight: bolder;
}
.explore .row .col img:hover {
  opacity: 0.3;
}
.explore .row .col .product-name:hover {
  color: white;
  background-color: blue;
}

/* footer */

footer {
  position: relative;
  top: 150px;
  background-color: rgb(202, 202, 255);
  height: 130px;
}
footer .social {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 10px;
}
footer .social i {
  font-size: 35px;
  padding: 0 25px;
  color: #aaa;
}
footer .social i:hover {
  color: #003bfc;
}
footer .list-inline {
  display: flex;
  justify-content: center;
}
footer ul {
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
footer ul li a {
  text-decoration: none;
  opacity: 0.8;
}
footer ul li a:hover {
  opacity: 1;
  color: blue;
}

footer ul li {
  padding: 0 25px;
}
footer .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgb(133, 131, 131);
  font-weight: bolder;
  margin-bottom: 0;
}
